/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Mix */
body{
  font-family: 'Roboto', sans-serif;
}
nav{
  line-height: 30px;
  font-size: 20px;
}
.list-inline{
  list-style: none;
  display: flex;
}
/* Header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.list-inline li a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}
.logo{
  margin-right: 20px;
}
.logo img{
  height: 30px;
}
.bsn{
  opacity: 0.5;
}
.main-nav ul li a{
  opacity: 0.5;
  vertical-align: middle;
}
.bsn:hover,
.main-nav a:hover{
  opacity: 1;
}
.position-relative{
  position: relative;
}
.dropdown-menu{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  width: 200px;
}
.dropdown-menu ul{
  list-style: none;
}
.dropdown-menu ul li{
  margin-top: 15px;
}
.btn{
  padding: 10px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  vertical-align: middle;
}
.btn-white:hover{
  background-color: #dcdcdc;
}
.btn-black{
  background-color: #000;
  color: #fff;
}
.btn:focus{
  outline: none;
}
